/* Custom CSS to center text */
.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; 
}

.custom-bg-dark {
    background-color: #13131a;
}

.profile-image {
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 50%;
}

.no-link-color {
    color: inherit; /* Use the color of the parent element */
    text-decoration: none; /* Remove underline */
}